.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
.add-shop._con {
  margin-top: 16%;
  color: #7d7d7d;
  font-size: 16px;
}
.add-shop._con .mer_list {
  margin-top: 4%;
  background: #fff;
  box-shadow: 0 2px 5px #cccccc;
  -webkit-box-shadow: 0 2px 5px #cccccc;
}
.add-shop._con .mer_list input,
.add-shop._con .mer_list textarea {
  font-size: 16px;
}
.add-shop._con .mer_list li,
.add-shop._con .mer_list ._link {
  font-size: 16px;
  position: relative;
  padding: 4% 5% 4% 5%;
  border-bottom: 1px solid #dfdfdf;
}
.add-shop._con .mer_list li:after,
.add-shop._con .mer_list ._link:after {
  content: "";
  display: block;
  clear: both;
}
.add-shop._con .mer_list li span.g_right,
.add-shop._con .mer_list ._link span.g_right {
  color: #373737;
}
.add-shop._con .mer_list li span.g_right ._ic1,
.add-shop._con .mer_list ._link span.g_right ._ic1 {
  display: inline-block;
  width: auto;
  height: 1.4rem;
  vertical-align: middle;
}
.add-shop._con .mer_list li span.g_right ._upd,
.add-shop._con .mer_list ._link span.g_right ._upd,
.add-shop._con .mer_list li span.g_right ._del,
.add-shop._con .mer_list ._link span.g_right ._del {
  padding: 5% 10%;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
}
.add-shop._con .mer_list li span.g_right ._upd,
.add-shop._con .mer_list ._link span.g_right ._upd {
  color: #3c64c8;
  border: 1px solid #3c64c8;
}
.add-shop._con .mer_list li span.g_right ._del,
.add-shop._con .mer_list ._link span.g_right ._del {
  color: red;
  border: 1px solid red;
}
.add-shop._con .mer_list li input,
.add-shop._con .mer_list ._link input {
  margin-left: 3%;
}
.add-shop._con .mer_list li .add_img,
.add-shop._con .mer_list ._link .add_img {
  width: 8rem;
  height: 8rem;
  background: url("../images/add_03.png") no-repeat center, #f4f4f4;
  background-size: 30%;
}
.add-shop._con .mer_list li .add_img #upd_files2,
.add-shop._con .mer_list ._link .add_img #upd_files2 {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  font-size: 0;
  opacity: 0;
}
.add-shop._con .mer_list ._required:before {
  content: "*";
  color: red;
  position: absolute;
  font-size: 1.6rem;
  left: 2%;
}
.add-shop._con .mer_img li {
  position: relative;
  overflow: auto;
}
.add-shop._con .mer_img li ._wrap {
  width: 100%;
  height: 8rem;
}
.add-shop._con .mer_img li span.g_right {
  margin-right: 5%;
}
.add-shop._con .mer_img li span.g_right #upd_files {
  position: absolute;
  display: inline-block;
  right: 21%;
  width: 4.3rem;
  height: 2.3rem;
  font-size: 0;
  opacity: 0;
}
.add-shop._con .mer_img li .upd_img,
.add-shop._con .mer_img li .add_img {
  display: inline-block;
  position: relative;
  margin-right: 3%;
  width: 8rem;
}
.add-shop._con .mer_img li .upd_img {
  width: 8rem;
  height: 8rem;
  background: url("../images/pp_03.png") no-repeat;
  background-size: 100% 100%;
}
.add-shop._con .mer_img li ._close:after {
  content: "";
  position: absolute;
  top: -7%;
  right: -7%;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background: url("../images/c_03.png") no-repeat center, rgba(221, 80, 61, 0.7);
  background-size: 50% 50%;
}
.add-shop._con .mer_per li._title {
  position: relative;
}
.add-shop._con .mer_per li._title span.g_right {
  position: absolute;
  right: 1.2rem;
  color: #3c64c8;
  border: 1px solid #3c64c8;
  padding: 1.5% 3%;
  font-size: 14px;
  border-radius: 3px;
  top: 1rem;
}
.add-shop._con .mer_per .per {
  padding-left: 9%;
  background: url("../images/ic_11.png") no-repeat 3.5% center;
  background-size: auto 38%;
}
.add-shop._con .mer_per .per .per_date {
  color: #7d7d7d;
  margin-left: 2%;
}
.add-shop._con .mer_per .per span.g_right img {
  height: 1em;
  width: auto;
}
.add-shop._con .mer_per .index {
  position: relative;
}
.add-shop._con .mer_per .index:before {
  content: "";
  display: block;
  width: 3.5%;
  height: 28%;
  position: absolute;
  top: 8%;
  left: 1%;
  background: url("../images/icc_07.png") no-repeat;
  background-size: 100% 100%;
}
