.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
#chooseMer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99999;
}
._header {
  padding: 3% 0 3%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
}
._header h2.title {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}
._header h2.title ._save {
  position: absolute;
  right: 4%;
  color: #3c64c8;
  background: #fff;
  font-size: 1.2rem;
  padding: 0.3rem 2%;
  border-radius: 3px;
}
._header h2.title .no_save {
  opacity: 0.5;
}
._con {
  margin-top: 17%;
  color: #7d7d7d;
  font-size: 1.4rem;
  line-height: 1;
}
._con input,
._con textarea,
._con input:focus,
._con button:focus {
  border: none;
  outline: none;
  font-size: 1.4rem;
}
._con .title {
  color: #373737;
  font-size: 1.4rem;
  padding-left: 3%;
  position: relative;
  margin-top: 18%;
}
._con .per_name,
._con .per_contacts,
._con .per_password,
._con .per_mer {
  margin-top: 4%;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  -webkit-box-shadow: 0 2px 5px #ccc;
}
._con .per_name li,
._con .per_contacts li,
._con .per_password li,
._con .per_mer li {
  font-size: 1.4rem;
  position: relative;
  padding: 4% 0;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
}
._con .per_name li:after,
._con .per_contacts li:after,
._con .per_password li:after,
._con .per_mer li:after {
  content: "";
  display: block;
  clear: both;
}
._con .per_name li > span._tit,
._con .per_contacts li > span._tit,
._con .per_password li > span._tit,
._con .per_mer li > span._tit {
  display: inline-block;
  width: 22%;
  text-align: right;
  position: relative;
}
._con .per_name li span.g_right,
._con .per_contacts li span.g_right,
._con .per_password li span.g_right,
._con .per_mer li span.g_right {
  color: #7d7d7d;
}
._con .per_name li span.g_right ._c37,
._con .per_contacts li span.g_right ._c37,
._con .per_password li span.g_right ._c37,
._con .per_mer li span.g_right ._c37 {
  color: #373737;
}
._con .per_name li span.g_right img._more,
._con .per_contacts li span.g_right img._more,
._con .per_password li span.g_right img._more,
._con .per_mer li span.g_right img._more {
  display: inline-block;
  width: auto;
  height: 0.7em;
  vertical-align: middle;
  margin-left: 5px;
}
._con .per_name li span.g_right img._ic1,
._con .per_contacts li span.g_right img._ic1,
._con .per_password li span.g_right img._ic1,
._con .per_mer li span.g_right img._ic1 {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: middle;
}
._con .per_name li span.g_right span._upd,
._con .per_contacts li span.g_right span._upd,
._con .per_password li span.g_right span._upd,
._con .per_mer li span.g_right span._upd,
._con .per_name li span.g_right span._del,
._con .per_contacts li span.g_right span._del,
._con .per_password li span.g_right span._del,
._con .per_mer li span.g_right span._del {
  padding: 5% 10%;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 3px;
  line-height: 1;
}
._con .per_name li span.g_right span._upd,
._con .per_contacts li span.g_right span._upd,
._con .per_password li span.g_right span._upd,
._con .per_mer li span.g_right span._upd {
  color: #3c64c8;
  border: 1px solid #3c64c8;
}
._con .per_name li span.g_right span._del,
._con .per_contacts li span.g_right span._del,
._con .per_password li span.g_right span._del,
._con .per_mer li span.g_right span._del {
  color: red;
  border: 1px solid red;
}
._con .per_name li input,
._con .per_contacts li input,
._con .per_password li input,
._con .per_mer li input {
  margin-left: 3%;
}
._con .per_name li .text_add,
._con .per_contacts li .text_add,
._con .per_password li .text_add,
._con .per_mer li .text_add {
  width: 100%;
  resize: none;
}
._con .per_name li .add_img,
._con .per_contacts li .add_img,
._con .per_password li .add_img,
._con .per_mer li .add_img {
  width: 8rem;
  height: 8rem;
  background: url("../images/add_03.png") no-repeat center, #f4f4f4;
  background-size: 30%;
}
._con ._required:before {
  content: "*";
  color: red;
  font-size: 1.6rem;
  display: inline-block;
  line-height: 1;
  margin-right: 0.3rem;
  transform: translate(0, 20%);
}
._con ul.per_password .perPassword {
  color: #373737;
  margin-left: 3%;
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.2;
}
._con ul.per_password span.g_right {
  position: absolute;
  top: 20%;
  right: 5%;
  color: #4d90fe !important;
  padding: 2% 5%;
  border-radius: 3px;
  border: 1px solid #4d90fe;
  font-size: 1.2rem;
}
._con ul.per_mer {
  line-height: 1;
}
._con ul.per_mer a._more {
  margin-right: 2rem;
}
._con ul.per_mer a._more img {
  width: auto;
  height: .8em;
  vertical-align: middle;
  margin-left: 10px;
}
._con ._phot {
  display: block;
  width: 90%;
  border: none;
  margin: 5% auto;
  padding: 4% 0;
  font-size: 1.8rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}
._con p.wrap {
  display: none;
  margin-top: 2.7%;
  text-align: center;
}
._con p.wrap ._block {
  color: #fff;
  background: #6b6b6b;
  padding: 2% 2%;
  border-radius: 5px;
}
._con .no_save {
  color: #3c64c8;
  background: #7793d9;
}
._con ._saved {
  color: #fff;
  background: #3c64c8;
}
