.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
._header {
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 3% 0 3%;
}
._header h2.title {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}
._header h2.title ._save {
  position: absolute;
  right: 4%;
  color: #3c64c8;
  background: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 2%;
  border-radius: 3px;
}
._header h2.title .no_save {
  opacity: 0.5;
}
._fixed {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
._fixed .apply_wrap {
  position: absolute;
  line-height: 1;
  padding: 6% 4% 18%;
  bottom: 0;
  left: 0;
  width: 92%;
  background: #fff;
  font-size: 1.6rem;
  color: #7d7d7d;
}
._fixed .apply_wrap .g_right {
  color: #373737;
}
._fixed .apply_wrap .g_right ._num {
  margin: 0 .5rem;
}
._fixed .apply_wrap .g_right img {
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
}
._fixed .apply_wrap ._send {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  border: none;
  padding: 5% 0;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 0 5px #ccc;
  background: #3c64c8;
  color: #fff;
}
._con {
  width: 100%;
  margin-top: 17%;
}
._con input,
._con textarea,
._con input:focus,
._con button:focus {
  border: none;
  outline: none;
  font-size: 1.4rem;
}
._con section.search_wrap {
  margin: 5% 5%;
  width: 100%;
  position: relative;
}
._con section.search_wrap form {
  width: 90%;
}
._con section.search_wrap #_search {
  background: transparent;
  padding: 1.5% 0 1.5% 9%;
  width: 100%;
  font-size: 1.3rem;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
}
._con section.search_wrap label {
  position: absolute;
  top: 25%;
  left: 2%;
  width: 4%;
}
._con section.search_wrap .closeImg {
  position: absolute;
  top: 20%;
  right: 26%;
  width: 5%;
  display: none;
}
._con section.search_wrap .closeText {
  position: absolute;
  top: 15%;
  right: 13%;
  color: #7d7d7d;
  font-size: 1.3rem;
  display: none;
}
._con > .city_group {
  width: 100%;
  box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  background: #fff;
  margin-bottom: 20%;
}
._con > .city_group ._list {
  display: block;
  font-size: 1.5rem;
  padding: 4.5% 4%;
  border-bottom: 1px solid #dfdfdf;
  color: #5f5f5f;
}
._con > .city_group ._list ._state {
  padding: 1% 2% 1%;
  font-size: 1.3rem;
  background: #3c64c8;
  color: #fff;
  border-radius: 100rem;
  float: right;
}
._con > .city_group .list:last-child {
  border: none;
}
._con > ._apply {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 20% auto 0;
  display: block;
  width: 100%;
  border: none;
  padding: 4% 0;
  font-size: 1.8rem;
  box-shadow: 0 0 5px #ccc;
  background: #3c64c8;
  color: #fff;
}
._con ._gray {
  color: #7d7d7d;
}
