.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
._con span._mp2 {
  margin-top: 0.91rem;
  display: inline-block;
  width: 90%;
  text-align: left;
}
._con img._ewm {
  display: block;
  margin: 24% auto 8%;
  width: 90%;
}
._con .no_save {
  color: #3c64c8;
  background: #7793d9;
}
._con ._saved {
  color: #fff;
  background: #3c64c8;
}
._con ._succ img.suc_suc {
  display: block;
  width: 2.08rem;
  margin: 2.8rem auto 0.88rem;
}
._con ._succ ._tit {
  color: #5f5f5f;
  text-align: center;
  margin-bottom: 1.73rem;
}
._con ._succ ._tit span {
  color: #7d7d7d;
}
._con ._succ ._tit .center {
  margin-top: 0;
  text-align: center;
  line-height: 1.8;
}
