.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
.map._con {
  color: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #123456;
}
.map._con .map_con {
  height: 100%;
}
.map._con ._curPositon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #c5c2bc;
  -webkit-box-shadow: 0 0 5px #c5c2bc;
  background: url("../images/local_03.png") no-repeat center, #ffffff;
  background-size: 70% 70%;
  bottom: 10%;
  right: 2%;
  z-index: 999999999;
}
.map._con .search_mer {
  border: 1px solid #d0d0d0;
  box-shadow: 0 2px 2px #d0d0d0;
  position: fixed!important;
  background: url("../images/w_07.png") no-repeat 3% center, #ffffff;
  background-size: auto 50%;
  top: 55px!important;
  left: 4%!important;
  width: 80%;
  padding-left: 10%;
  border-radius: 5px;
  z-index: 999999999!important;
  line-height: 30px;
  height: 30px;
}
.map._con .mer_list {
  background: #fff;
  font-size: 1.4rem;
  color: #373737;
}
.map._con .mer_list div,
.map._con .mer_list input {
  border-bottom: 1px solid #e5e5e5;
  padding: 4% 3%;
}
.map._con .mer_list div {
  border: none;
}
.map._con .mer_list input {
  width: 100%;
}
.map._con .mer_list ._tit ._mark {
  display: inline-block;
  width: 100%;
  background: none;
}
.map._con .mer_list ._tit ._mark,
.map._con .mer_list ._tit ._save {
  color: #3c64c8;
}
.map._con .mer_list ._tit ._cance,
.map._con .mer_list ._tit ._save {
  padding: 0.3rem 1rem;
  border: 1px solid #373737;
  margin-left: 1rem;
  border-radius: 3px;
}
.map._con .mer_list ._tit ._save {
  border: 1px solid #3c64c8;
}
.map._con .gmnoprint {
  opacity: 0;
}
