.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
html {
  height: 100%;
  background: #f4f4f4;
}
._fixed {
  position: absolute;
  left: 0;
  top: 1.2rem;
  width: 100%;
  z-index: 9999;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
._fixed:after {
  content: "";
  display: block;
  clear: both;
}
._fixed .add_list {
  background: #fff;
  box-shadow: 0px 2px 2px #cccccc;
  -webkit-box-shadow: 0px 2px 2px #cccccc;
}
._fixed .add_list a {
  color: #7d7d7d;
  display: block;
  line-height: 1.28rem;
  height: 1.28rem;
  text-indent: 1rem;
}
._fixed .add_list a:first-child {
  background: url("../images/fx_03.png") no-repeat 0.3rem center;
  background-size: auto 0.53rem;
  border-bottom: 1px solid #ccc;
}
._fixed .add_list a:last-child {
  background: url("../images/up_03.png") no-repeat 0.3rem center;
  background-size: auto 0.53rem;
}
._fixed .add_list a._downline {
  background: url("../images/fx_07.png") no-repeat 0.3rem center;
  background-size: auto 0.53rem;
}
._con {
  color: #373737;
}
._con .mer_list {
  background: #fff;
  margin-top: 0.4rem;
  color: #7d7d7d;
}
._con .mer_list .ewm_card {
  color: #373737;
  margin-left: 2%;
}
._con .mer_list .g_right ._text {
  color: #373737;
}
._con .mer_list li,
._con .mer_list ._link {
  text-indent: 0.4rem;
  line-height: 1.28rem;
  height: 1.28rem;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
._con .mer_list li ._gray,
._con .mer_list ._link ._gray {
  color: #7d7d7d;
}
._con .mer_list ._link {
  width: 90%;
}
._con .msg_num {
  display: -webkit-flex;
  display: flex;
  background: #fff;
  padding: 0.26rem 0;
  border-bottom: 1px solid #e5e5e5;
}
._con .msg_num > section {
  padding: 0.1rem 0.4rem;
  width: 50%;
  color: #7d7d7d;
}
._con .msg_num > section ._CNY {
  margin-top: 0.2rem;
  text-align: right;
}
._con .msg_num > section ._CNY ._parse {
  color: #3c64c8;
}
._con .msg_num > section ._CNY ._point {
  color: #3c64c8;
}
._con .msg_num ._num1 {
  border-right: 1px solid #7d7d7d;
}
._con .mer_contacts {
  color: #7d7d7d;
  border-bottom: 1px solid #e5e5e5;
}
._con .mer_contacts li {
  border: none;
}
._con .mer_contacts span.g_right {
  color: #373737;
  margin-right: 0.4rem;
}
._con .mer_contacts span.g_right ._tel {
  height: 0.35rem;
  width: 0.35rem;
  margin-left: 0.2rem;
  background: url("../images/ic_03.png") no-repeat;
  background-size: 100% 100%;
}
._con .per_card {
  margin-top: 0.4rem;
}
