.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
._header {
  padding: 3% 0 3%;
  width: 100%;
}
._header h2.title {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}
._fixed {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
._fixed:after {
  content: "";
  display: block;
  clear: both;
}
._fixed .add_list {
  background: #fff;
  box-shadow: 0px 2px 2px #373737;
  -webkit-box-shadow: 0px 2px 8px #373737;
}
._fixed .add_list a {
  color: #7d7d7d;
  display: block;
  font-size: 1.4rem;
  padding: 4% 0 4% 11%;
}
._fixed .add_list a:first-child {
  background: url("../images/fx_03.png") no-repeat 4% center;
  background-size: auto 45%;
  border-bottom: 1px solid #ccc;
}
._fixed .add_list a:last-child {
  background: url("../images/up_03.png") no-repeat 4% center;
  background-size: auto 45%;
}
._fixed .add_list a._downline {
  background: url("../images/fx_07.png") no-repeat 4% center;
  background-size: auto 45%;
}
._con {
  color: #373737;
}
._con > section.mer_msg {
  padding: 5% 3% 0;
  background: #f4f4f4;
  position: relative;
}
._con > section.mer_msg h2.mer_name {
  font-size: 1.8rem;
}
._con > section.mer_msg h2.mer_name span.name_en {
  font-size: 1.5rem;
}
._con > section.mer_msg > .type_date {
  color: #7d7d7d;
  margin: 3% 0 5%;
  font-size: 1.2rem;
}
._con > section.mer_msg > .type_date ._type {
  color: #fff;
  background: #373737;
  border-radius: 1.2rem;
  margin-right: 1%;
  padding: 0.5% 2.5%;
}
._con > section.mer_msg > .type_date ._date {
  margin: 0 1%;
}
._con > section.mer_msg > ._state {
  position: absolute;
  color: #7d7d7d;
  right: 3%;
  font-size: 1.4rem;
  top: 14%;
}
._con > section.mer_msg > ._online {
  color: #3c64c8;
}
._con > section.mer_msg > ._downline {
  color: #ee453b;
}
._con ul.area_add,
._con ul.per_password,
._con ul.mer_contacts,
._con ul.per_card {
  background: #fff;
  font-size: 1.4rem;
  margin-top: 4%;
  color: #7d7d7d;
}
._con ul.area_add span._password,
._con ul.per_password span._password,
._con ul.mer_contacts span._password,
._con ul.per_card span._password,
._con ul.area_add span.ewm_card,
._con ul.per_password span.ewm_card,
._con ul.mer_contacts span.ewm_card,
._con ul.per_card span.ewm_card {
  color: #373737;
  margin-left: 2%;
}
._con ul.area_add .g_right ._text,
._con ul.per_password .g_right ._text,
._con ul.mer_contacts .g_right ._text,
._con ul.per_card .g_right ._text {
  color: #373737;
}
._con ul.area_add ._link,
._con ul.per_password ._link,
._con ul.mer_contacts ._link,
._con ul.per_card ._link {
  background: url("../images/adds_03.png") no-repeat 95% center;
  padding-right: 10% !important;
  background-size: auto 40%;
  width: 85%;
}
._con ul.area_add li,
._con ul.per_password li,
._con ul.mer_contacts li,
._con ul.per_card li,
._con ul.area_add ._link,
._con ul.per_password ._link,
._con ul.mer_contacts ._link,
._con ul.per_card ._link {
  padding: 4% 3%;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
._con ul.area_add li a._more,
._con ul.per_password li a._more,
._con ul.mer_contacts li a._more,
._con ul.per_card li a._more,
._con ul.area_add ._link a._more,
._con ul.per_password ._link a._more,
._con ul.mer_contacts ._link a._more,
._con ul.per_card ._link a._more {
  width: 0.8rem;
  margin-left: 10px;
  vertical-align: middle;
}
._con ul.area_add li span._gray,
._con ul.per_password li span._gray,
._con ul.mer_contacts li span._gray,
._con ul.per_card li span._gray,
._con ul.area_add ._link span._gray,
._con ul.per_password ._link span._gray,
._con ul.mer_contacts ._link span._gray,
._con ul.per_card ._link span._gray {
  color: #7d7d7d;
}
._con ul.area_add li span._mark,
._con ul.per_password li span._mark,
._con ul.mer_contacts li span._mark,
._con ul.per_card li span._mark,
._con ul.area_add ._link span._mark,
._con ul.per_password ._link span._mark,
._con ul.mer_contacts ._link span._mark,
._con ul.per_card ._link span._mark {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 14%;
  border-left: 1px solid #e5e5e5;
  background: url("../images/m_03.png") no-repeat center;
  background-size: 28% auto;
}
._con ul.area_add li span.no_mark,
._con ul.per_password li span.no_mark,
._con ul.mer_contacts li span.no_mark,
._con ul.per_card li span.no_mark,
._con ul.area_add ._link span.no_mark,
._con ul.per_password ._link span.no_mark,
._con ul.mer_contacts ._link span.no_mark,
._con ul.per_card ._link span.no_mark {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 14%;
  border-left: 1px solid #e5e5e5;
  background: url("../images/d_03.png") no-repeat center;
  background-size: 28% auto;
}
._con ul.area_add li._img,
._con ul.per_password li._img,
._con ul.mer_contacts li._img,
._con ul.per_card li._img {
  overflow: hidden;
}
._con ul.area_add li._img img,
._con ul.per_password li._img img,
._con ul.mer_contacts li._img img,
._con ul.per_card li._img img {
  width: 30%;
  display: inline-block;
  margin-right: 1%;
}
._con > .msg_num {
  display: -webkit-flex;
  display: flex;
  background: #fff;
  margin-top: 4%;
  padding: 4% 0;
  border-bottom: 1px solid #e5e5e5;
}
._con > .msg_num > section {
  padding: 0 4%;
  width: 50%;
  font-size: 1.4rem;
  color: #7d7d7d;
}
._con > .msg_num > section ._CNY {
  margin-top: 5%;
  text-align: right;
}
._con > .msg_num > section ._CNY ._parse {
  font-size: 2.4rem;
  color: #3c64c8;
}
._con > .msg_num > section ._CNY ._point {
  color: #3c64c8;
}
._con > .msg_num ._num1 {
  border-right: 1px solid #e5e5e5;
}
._con > ul.mer_contacts {
  color: #7d7d7d;
  border-bottom: 1px solid #e5e5e5;
}
._con > ul.mer_contacts li {
  border: none;
}
._con > ul.mer_contacts span.g_right {
  color: #373737;
  line-height: 1;
}
._con > ul.mer_contacts span.g_right a._tel {
  vertical-align: middle;
  padding-left: 0.8rem;
}
._con > ul.mer_contacts span.g_right a._tel img {
  height: 1.1em;
  width: 1.1em;
}
._con > ul.mer_per li._title span.g_right {
  color: #3c64c8;
}
._con > ul.mer_per li.per {
  line-height: 1;
  padding-left: 9%;
  background: url("../images/ic_11.png") no-repeat 3.5% center;
  background-size: auto 38%;
}
._con > ul.mer_per li.per span.per_date {
  color: #7d7d7d;
  margin-left: 2%;
}
._con > ul.mer_per li.per span.g_right a.more {
  vertical-align: middle;
  width: 0.5em;
}
._con > ul.per_card {
  margin-top: 7%;
}
