.g_center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.g_box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.g_table_center {
  display: table-cell;
  vertical-align: middle;
}
.g_clear:after {
  content: "";
  display: block;
  clear: both;
}
.g_left {
  float: left;
}
.g_right {
  float: right;
}
.g_box {
  display: -webkit-box;
  display: box;
}
.g_flex {
  display: -webkit-flex;
  display: flex;
}
.xs {
  font-size: 14px;
}
[data-dpr="2"] .xs {
  font-size: 28px;
}
[data-dpr="3"] .xs {
  font-size: 42px;
}
.sm {
  font-size: 16px;
}
[data-dpr="2"] .sm {
  font-size: 32px;
}
[data-dpr="3"] .sm {
  font-size: 48px;
}
.md {
  font-size: 20px;
}
[data-dpr="2"] .md {
  font-size: 40px;
}
[data-dpr="3"] .md {
  font-size: 60px;
}
.lg {
  font-size: 22px;
}
[data-dpr="2"] .lg {
  font-size: 44px;
}
[data-dpr="3"] .lg {
  font-size: 66px;
}
.llg {
  font-size: 40px;
}
[data-dpr="2"] .llg {
  font-size: 80px;
}
[data-dpr="3"] .llg {
  font-size: 120px;
}
.f-500 {
  font-weight: bold;
}
html {
  height: 100%;
  background: #f4f4f4;
}
.persearch._header {
  padding-bottom: 0;
}
.persearch._header .header_con {
  height: 1.4rem;
  line-height: 1.4rem;
  display: -webkit-flex;
  display: flex;
}
.persearch._header .header_con .mer,
.persearch._header .header_con .per {
  width: 100%;
  text-align: center;
}
.persearch._header .header_con .mer a,
.persearch._header .header_con .per a {
  display: inline-block;
  color: #9eb2e4;
  position: relative;
  border-bottom: 0.053rem solid #3c64c8;
  transform: translate(0, -0.053rem);
  -webkit-transform: translate(0, -0.053rem);
  -o-transform: translate(0, -0.053rem);
  -moz-transform: translate(0, -0.053rem);
}
.persearch._header .header_con .mer a._border,
.persearch._header .header_con .per a._border {
  border-bottom: 0.053rem solid #fff;
  color: #fff;
}
.persearch._con .tag_nav {
  display: -webkit-flex;
  display: flex;
}
.persearch._con .tag_nav li {
  width: 100%;
  background: #d0d0d0;
  text-align: center;
  padding: 0.28rem 0;
  position: relative;
  color: #fff;
}
.persearch._con .tag_nav li:after {
  content: "";
  position: absolute;
  height: 50%;
  display: block;
  top: 25%;
  left: 0px;
  width: 1px;
  background: #f4f4f4;
}
.persearch._con .tag_nav li._index:after,
.persearch._con .tag_nav li._index + li:after,
.persearch._con .tag_nav li:first-child:after {
  content: "";
  position: absolute;
  height: 60%;
  display: block;
  top: 20%;
  left: 0px;
  width: 0px;
  background: #fff;
}
.persearch._con .tag_nav li._index {
  background: #f4f4f4;
  color: #7d7d7d;
  border-right: none;
}
.persearch._con .list_con {
  background: #f4f4f4;
  padding: .3rem;
  margin-top: -0.3rem;
  color: #373737;
}
.persearch._con .list_con .per_list {
  margin-top: .5rem;
}
.persearch._con .list_con .per_list li.per {
  position: relative;
  padding: .4rem;
  border-radius: 3px;
  width: 8.6rem;
  background: #fff;
  margin-bottom: .4rem;
  box-shadow: 0 0 5px #c8c8c8;
  -webkit-box-shadow: 0 0 5px #c8c8c8;
}
.persearch._con .list_con .per_list li.per ._title {
  padding-bottom: .4rem;
  margin-bottom: .4rem;
  border-bottom: 1px solid #d0d0d0;
}
.persearch._con .list_con .per_list li.per ._title .state1 {
  color: #ee453b;
}
.persearch._con .list_con .per_list li.per ._title .state2 {
  color: #3c64c8;
}
.persearch._con .list_con .per_list li.per ._title .state3 {
  color: #7d7d7d;
}
.persearch._con .list_con .per_list li.per .per_msg .date {
  color: #7d7d7d;
  margin-bottom: .35rem;
}
.persearch._con .list_con .per_list li.per .per_msg .tel .g_right {
  vertical-align: middle;
}
.persearch._con .list_con .per_list li.per .per_msg .tel .g_right img {
  width: 1em;
}
.persearch._con .list_con .per_list li.index:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  background: url("../images/icc_07.png");
  background-size: 100% 100%;
}
._none {
  color: #ccc;
  text-align: center;
}
.a_wrap {
  text-align: center;
  color: #fff;
}
.a_wrap .add_mer {
  margin-top: 2rem;
  background: #3c64c8;
  line-height: 1.28rem;
  height: 1.28rem;
  width: 6rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #cccccc;
  -webkit-box-shadow: 0 0 5px #cccccc;
}
.a_wrap .add_mer ._ic {
  display: inline-block;
  line-height: 1.28rem;
  background: url("../images/t_03.png") no-repeat;
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.2rem;
  vertical-align: text-top;
}
